{% extends 'home.html' %}

{%block title%}
Marketplace
{%endblock title%}

{%block content%}
<h1>Welcome to the market place</h1>
<br>
<br>


    <table class="styled-table">
        <thead>
        <tr>
            <th scope="col"> Id</th>
            <th scope="col"> Name</th>
            <th scope="col"> Barcode</th>
            <th scope="col">Price</th>
            <th class="col"> Options</th>
        </tr>
        </thead>
        <tbody>
            {%for item in items%}
            <tr class="active-row">
                <td>{{item.id}}</td>
                <td>{{item.name}}</td>
                <td>{{item.barcode}}</td>
                <td>{{item.price}}</td>
                <td> <button class="btn btn-outline btn-info">More info</button></td>
                <td><button class=" btn btn-outline btn-success">Purchase</button></td>
            </tr>
            {%endfor%}
        </tbody>
    </table>

<style>
    .styled-table{
        width: 800px;
        border-collapse: collapse;
        overflow: hidden;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    }

    th, td{
        padding: 15px;
        background-color: rgba(255, 255, 255, 0.2);
        color: #fff;
    }

    th{
        text-align: left;
    }

    thead, th.col{
        background-color: #55608f;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;

    }

    tbody, tr{
        background-color: rgba(255, 255, 255, 0.1);
    }

    td{
        position: relative;
        background-color: rgb(63, 58, 58);
        
    }
</style>


{%endblock content%}